body {
	user-select: none;
}

.wrapper {
	display: flex;
	justify-content: center;
}

#start {
	margin-top: 50px;
	background-color: grey;
	border: 1px black solid;
	border-radius: 20% 20%;
	padding: 5px;
	cursor: pointer;
	user-select: none;
}

#start:hover {
	background-color: yellow;
}

#physBox {
	margin-top: 50px;
	width: 1000px;
	height: 800px;
	border: 2px red dashed;
	position: relative;
}

.ball {
	border-radius: 50% 50%;
	position: absolute;
	transform: translate(-50%, 0);
}

#ball1 {
	background-color: green;
	width: 50px;
	height: 50px;
	left: 20%;
}

#ball2 {
	background-color: red;
	width: 80px;
	height: 80px;
	left: 50%;
}

#ball3 {
	background-color: black;
	width: 10px;
	height: 10px;
	left: 70%;
}


	