
body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
}


/* HEADER SECTION BEGINS */

header {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	z-index: 99;
}

.wrapper {
	margin: 0 auto;
	max-width: 1250px;
	width: 100%;
	padding: 0 40px;

}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo a {
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #ffffff;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;

	cursor: pointer;
}


.hr {
	margin: 120px 0;
	height: 2px;
	background-color: #e6e6e6;
}



/* HEADER NAVIGATION SECTION BEGINS */



.main-nav {

}

.main-menu {
	list-style: none;

	display: flex;
}

.main-menu-item {
	margin-left: 90px;

	position: relative;

}

.main-menu-item:after {
	content: "\\\\";
	display: block;

	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;

	position: absolute;
	left: 100%;
	top: 0;

	margin-left: 40px;
}

.main-menu-item:last-child:after {
	display: none;
}

.main-menu-link {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;

	cursor: pointer;
}

.main-menu-link:hover {
	color: #0d0d0d;
}



/* HEADER NAVIGATION SECTION ENDS */

/* HEADER SECTION ENDS */

/* BANNER SECTION BEGINS */

.banner {
	position: relative;
	display: flex;
	align-items: center;
	padding-top: 450px;
	padding-bottom: 280px;
	height: 1100px;
	overflow: hidden;
	text-align: center;
	background: url(../img/banner.png) no-repeat center top;
	background-size: cover;	
}

.banner:after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	display: block;
	width: 0; height: 0;
	border-bottom: 100px solid #fff;
	border-left: 100vw solid transparent;
}

.banner-slider .slick-dots {
	margin-top: 100px;
}


h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;

	margin-bottom: 90px;
}

h1 .lg {
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;

	display: block;

	letter-spacing: -3px;
}

h1 .sm {
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
}

h2 {
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 35px;
}

p {
	line-height: 28px;
}


/* BUTTONS' STYLES SECTION BEGINS */

.button {
	display: inline-block;
	/*vertical-align: middle;*/
	height: 42px;
	padding: 11px 35px 0;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;

	text-decoration: none;

	transition: 0.3s;
}

.button:hover {
	background-color: #f39c12;
	border-color: #f39c12;

	text-decoration: none;
	color: #ffffff;
}


/* BUTTONS' STYLES SECTION ENDS */

/* ABOUT SECTION BEGINS */


.section {
	padding: 105px 0 100px;
}

.heading {
	display: flex;
	align-items: center;
	margin: 0 auto 151px;
}

.heading h2 {
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
	width: 200px;
	flex: none;
	text-align: right;
	position: relative;

	margin-right: 40px;
}

.heading h2:after {
	content: "";
	display: block;
	height: 45px;
	width: 4px;
	background-color: #f39c12;

	position: absolute;
	top: 50%;
	left: 100%;

	margin-top: -22px;
	margin-left: 19px;

}

.heading p {
	color: #4d4d4d;
	font-style: 16px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
}




/*About p.2*/




.about-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.about-wrap-content {
	display: flex;
	align-items: flex-start;

	flex: 1;
}

.about-wrap-content-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: none;

	width: 125px;
	height: 125px;

	border: 2px solid #f39c12;
	border-radius: 50%;
	background-color: #ffffff;

	margin-right: 29px;

}


h6 {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;

	margin-bottom: 26px;
}

.about-wrap-content-text .heading-text {
	font-size: 20px;
  	line-height: 1.5;
  	text-align: left;
  	color: #e74c3c;
  	margin-bottom: 26px;
}

.about-wrap-content-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #737373;
  word-spacing: -0.1px;
}


.about-wrap-img {
	width: 450px;
	height: 254px;

	display: flex;
	justify-content: center;
	align-items: center;

	flex: none;

	background-color: #FF4A39;
	margin-left: 65px;
}


/*Skill*/

.box-skills {
	display: flex;
}

.box-skills-item {
	flex: 1;
}

.box-skills-item .about-wrap-content-text p {
	word-spacing: -1px;
}

.box-skills-left {
	padding-right: 50px;
	text-align: right;
}

.box-skills-right {
	padding-left: 45px;
}

.box-skills-left img {
	display: inline-block;
	max-width: 100%;
}

/*Skill Progress Bars*/

.box-bars {
	margin-top: 68px;
}

.bars {
	margin-bottom: 30px;
}

.bars-title {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #0d0d0d;
	font-weight: 600;
	margin-bottom: 10px;
}

.bars-title span {
	color: #bfbfbf;
	font-weight: 600;
}

.bars-title .span-procent {
	color: #0d0d0d;
	font-weight: 300;
}

.bars-progress {
	height: 10px;
	background-color: #e7e7e7;
}

.bars-progress div {
	height: 10px;
	background-color: #f49d09;
}

/* ABOUT SECTION ENDS */



.section-bg {
	height: 700px;

	display: flex;
	align-items: center;

	background: url("../img/bg-image.png") no-repeat center top;
	background-size: cover;
}



/* QUOTE SECTION BEGINS */

.quote {

	text-align: center;
	color: #ffffff;


}

.quote-text {
	padding: 0 50px;

	font-size: 45px;
	font-weight: 700;
	line-height: 60px;
	color: #ffffff;
	position: relative;

	margin-bottom: 33px;
}

.quote-text:before, .quote-text:after {
	display: block;
	font-size: 110px;
	font-weight: 700;
	line-height: 60px;
	font-style: italic;

	position: absolute;
	top: 0;
}

.quote-text:before {
	content: '“';
	left: 0;
}

.quote-text:after {
	content: '"';
	right: 0;
}

.quote-author {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.quote-author:before {
	content: "";
	display: block;
	width: 50px; height: 4px;
	background-color: #f39c12;

	margin: 0 auto 15px;
}


/* QUOTE SECTION ENDS */



/* TEAM SECTION BEGINS */

.team-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.team-list__item {
	width: 269px;
	padding: 25px 15px 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.team-list__item .social {
	display: flex;
	align-items: flex-end;
	flex: 1;
	height: 100%;
}

.team-list__item:hover {
	background:  #F0F0F0;
	box-shadow: inset 0px 4px #F39C12;
	cursor: pointer;
}

.team-list__item:hover .team-list__job:after {
	background-color: #E74C3C;
}



.team-list__img {
	display: flex;
	flex: none;
	margin: 0 auto 30px; 
	background-color: #e8f8f4;
	width: 200px; height: 200px;
	border: 6px solid #f2f2f2;
	border-radius: 50%;

	display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

}

.team-list__img:after {
	content: "";
	top: -7px; left: -7px;
	display: block;
	position: absolute;
	width: 202px; height: 202px;
	border-radius: 50%;
	border: 1px solid #e6e6e6;
}

.team-list__img img {
	width: 100%; height: 100%;
	border-radius: 50%;
	display: block;
}

.team-list__item h6 {
	margin-bottom: 9px;
}

.team-list__job {
	font-family: "Lato", sans-serif;
	font-size: 18px;
	line-height: 1;
	color: #7F7F7F;
}

.team-list__job:after {

	content: "";
	display: block;
	width: 20px; height: 4px;
	background-color: #7F7F7F;

	margin: 14px auto 19px;
}

.team-list__item p {
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 1.75;
	color: #7F7F7F;
}

.social {
	margin: 0 auto;
	width: 150px;
	display: flex;
	justify-content: space-between;
}

.fa {
	color: #999999;
	font-size: 18px;
}

.fa:hover {
	color: #F29E17;
}

/* TEAM SECTION ENDS */



/* FACTS SECTION BEGINS */

.facts-list {
	display: flex;
	justify-content: space-between;
	
}

.facts-list__item {
	/*margin-right: 163px;*/
	text-align: center;
}

.facts-list__item:hover .facts-list__icon {
	border-color: #fff;
	transition: all 0.3s;
}

.facts-list__item:hover .facts-list__icon svg {
	fill: rgb(243, 156, 18);
	transition: all 0.3s;

}

.facts-list__item:last-child {
	margin-right: 0;
}

.facts-list__icon {
	width: 174px; height: 174px;
	border: 2px solid rgb(243, 156, 18);
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.facts-list__icon svg {
	fill: #fff;
}

.facts-list__item h5 {
	margin-top: 33px;
	font-size: 25px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
}

.facts-list__item span {
	font-size: 45px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	display: block;
}






/* FACTS SECTION ENDS */



/* SERVICE SECTION BEGINS */



.service-list {
	display: flex;
	justify-content: space-between;

	margin: 0 -17px;
	/*padding-bottom: 120px;

	border-bottom: 2px solid #e6e6e6;*/
}

.service-list__item {
	text-align: center;
	/*margin-right: 34px;*/
	padding: 0 17px;
}

.service-list__item:hover .service-list__icon svg {
	fill: rgb(255, 255, 255); 
	transition: all 0.3s;
}

.service-list__item:hover .service-list__icon {
	background-color: rgb(243, 156, 18);
	transition: all 0.3s;
}

.service-list__item:last-child {
	margin-right: 0;
}


.service-list__icon {
	margin: 0 auto 30px;
	width: 109px; height: 109px;
	border: 2px solid rgb(243, 156, 18);
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

}

.service-list__item p {
	font-size: 16px;
	color: rgb(115, 115, 115);
	line-height: 1.75;
}



/* PRICING */

.box-pricing {
	display: flex;

}

.box-pricing .service-list__item {
	text-align: left;
	padding: 0 15px;
}


.box-pricing .service-list__icon {
	margin: 0 auto 30px 0;
	width: 129px; height: 129px;
	border: 2px solid rgb(243, 156, 18);
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

}

.box-pricing .service-list__item h6 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.25;
}


.pricing {
	margin-left: 5%;
	display: flex;
	text-align: center;
	flex: none;
}

.pricing-item {
	width: 250px;
	cursor: pointer;
	
}

.pricing-item:first-child {
	border-left: 1px solid rgb(230, 230, 230);
	border-right: 1px solid rgb(230, 230, 230);
}

.pricing-item:last-child {
	border-left: 1px solid rgb(230, 230, 230);
	border-right: 1px solid rgb(230, 230, 230);
}

.pricing-item:hover .pricing-header {
	background-color: #F39C12;
	color: #FFF;
	box-shadow: 0px -16px #F39C12;
	border-top: 1px solid #F39C12;

}

.pricing-item:hover .pricing-header span {
	color: #fff;
}

.pricing-item:hover .pricing-header_title span:before {
	background-color: #fff;
}


.pricing-item:hover .pricing-list li:nth-child(odd) {
	background-color: #E6E6E6;
}

.pricing-item:hover .pricing-list li:nth-child(even){

	background-color: #F2F2F2;
}

.pricing-item:hover .pricing-footer {
	background-color: #E6E6E6;
	box-shadow: 0px 11px #E6E6E6;
}

.pricing-item:hover .pricing-footer .button--warning:hover {
	background-color: #F39C12;
	color: #fff;
	transition: 0.3s;

}

.pricing-header {
	padding: 25px 28px;
	
	border-top: 1px solid rgb(230, 230, 230);

}

.pricing-header_title {
	color: #0d0d0d;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 25px;
	font-size: 22px;
}

.pricing-header_title span:before {
	margin: 14px auto;
	content: "";
	display: block;
	height: 2px; width: 50px;
	background-color: #F39C12;
}

.pricing-list {
	list-style: none;
}

.pricing-list li {
	color: #737373;
	font-size: 15px;
	line-height: 18px;

	padding: 15px;
	border-top: 1px solid rgb(230, 230, 230);

}

.pricing-list li:nth-child(odd) {
	background-color: #FAFAFA;
}

.pricing-footer {
	padding: 31px 28px;
	border-top: 1px solid rgb(230, 230, 230);
	border-bottom: 1px solid rgb(230, 230, 230);

	background-color: #FAFAFA;

}

.button--warning {
	color: #0d0d0d;
	border: 2px solid #F39C12;
	font-weight: bold;
	padding: 12px 33px;
}


/* SERVICE SECTION ENDS */


/* testimonial SECTION BEGINS */


.testimonial {
	text-align: center;
	color: #ffffff;

}

.testimonial-slider .slick-dots {
	margin-top: 26px;
}

.testimonial .quote-author:before {
	display: none;
}

.testimonial .quote-author:after {
	content: "";
	display: block;
	width: 50px; height: 4px;
	background-color: #f39c12;

	margin: 15px auto 0;

}


.testimonial__text {
	font-style: italic;
	margin-bottom: 25px;
	margin-top: 35px;
	line-height: 30px;
	font-weight: 300;
}

.testimonial__avatar {
	width: 104px;
	height: 104px;
	border-radius: 50%;
	overflow: hidden;

	margin: 0 auto;
}

.testimonial__avatar img {
	display: block;
}

.nav-tab-list {
	list-style: none;
	text-align: center;
	margin-bottom: 80px;
}

.nav-tab-list__item {
	display: inline-block;

}

.nav-tab-list__item:before {
	content: "\\\\";
	display: inline-block;
/*	vertical-align: middle;*/
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	color: #a6a6a6;
	margin: 0 20px 0 20px;

}

.nav-tab-list__item:first-child:before {
	display: none;
}


.nav-tab-list__link {
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	color: #0d0d0d;

}

.nav-tab-list__link:hover {
	cursor: pointer;
	color: #F39C12;
}


.hide {
	position: absolute;
	left: 0 ;
	top: 0;
	height: 0 ;
	width: 0;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
}

.tab-cont  {
	opacity: 1;
	transition: opacity 0.4s;
}

.tab-cont.hide {
	opacity: 0;
}


/* PORTFOLIO */

.portfolio-slider {
	position: relative;
}

.portfolio-slider .slick-dots {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
}

.portfolio-slider .slick-dots li {
	display: block;
	margin: 2px 0;
}

.portfolio-slider__buttons {
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
}

.portfolio-slider__buttons button {
  border: 2px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  width: 39px;
  height: 39px;
  margin: 0 4px;
}

.portfolio-slider__footer {
	text-align: center;
}

.portfolio-slider__footer .portfolio-list__title {
	font-size: 20px;
	line-height: 24px;
}



/*.Digital_ArtWork_Graphic_Design {
  font-size: 20px;
  font-family: "OpenSans";
  color: rgb(13, 13, 13);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
  position: absolute;
  left: 891.87px;
  top: 7791.698px;
  z-index: 293;
}
*/


.portfolio-list {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-list__item {
	width: 25%;
	text-align: center;
	position: relative;
}

.portfolio-list__link {
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	z-index: 2;

}


.portfolio-list__img {
	background-color: #C7C7C7;
	height: 220px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	overflow: hidden;
	align-items: center;
	position: relative;
}

.portfolio-list__img img {
	display: block;
	width: 100%;
	min-height: 100%;
}


.portfolio-list__item:hover .portfolio-list__preview {
	cursor: pointer;
	visibility: visible;
}

.portfolio-list__item:hover .portfolio-list__title {
	color: #f39c12;
}
.portfolio-list__item:hover img {
	display: block;
}

.portfolio-list__item:hover svg {
	display: none;
}

.portfolio-list__item:nth-child(2) .portfolio-list__img,
.portfolio-list__item:nth-child(4) .portfolio-list__img,
.portfolio-list__item:nth-child(5) .portfolio-list__img,
.portfolio-list__item:nth-child(7) .portfolio-list__img {
	background-color: #B7B7B7;
}

.portfolio-list__img img {
	display: none;
}

.portfolio-list__preview {
	transition: 0s;
	visibility: hidden;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	width: 98px;
	height: 98px;
	background: rgba(243, 156, 18, 0.502) url("../img/plus.png") no-repeat center;
	transform: translate(-49px, -49px);
	z-index: 3;
}

.portfolio-list__preview:hover {
	background-color: rgba(243, 156, 18, 0.8);
}



.portfolio-list__footer {
	margin: 22px 10px;
}

.portfolio-list__title {
	color: #0d0d0d;
	line-height: 22px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.portfolio-list__category {
	color: #8c8c8c;
	font-style: 14px;
}

/* testimonial SECTION ENDS */

/* SECTION BG TWEET */

.tweet {
	text-align: center;
	color: rgb(255, 255, 255);
}

.tweet-wrap__icon {
	margin: 0 auto;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;
	width: 104px; height: 104px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tweet-wrap__icon img {
	display: block;
}

.tweet-wrap__text {
	margin: 38px 0 5px;
	font-size: 22px;
 	font-weight: bold;
 	line-height: 1.5;
}

.tweet-wrap__text a {
	color: #F39C12;
}
.tweet-wrap__text a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.tweet-wrap__time {
	color: #8c8c8c;
	font-style: italic;
	font-size: 15px;
	font-weight: 300;
	line-height: 38px;
}

/* SECTION BG TWEET ENDS */

/* SECTION BLOG */

.blog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog-list__item {
	width: 555px;
	margin-bottom: 60px;
}

.blog-list__img {
	background-color: rgb(183, 183, 183);
	width: 555px;
	height: 300px;
	position: relative;
}

.blog-list__img:hover .blog-list__title{
	color: #f39c12;
}

.blog-list__link {
	position: absolute;
	top: 0;	right: 0; left: 0; bottom: 0;
	z-index: 2;
}

.blog-list__img-svg {
	position: absolute;
	top: 50%; left: 50%; right: 50%; bottom: 50%;
	transform: translate(-35px, -29px);
}

.blog-list__header {
	display: flex;
	align-items: flex-end;
	position: absolute;
	right: 0; bottom: 0;
}

.blog-list__icon {
	background-color: rgb(243, 156, 18);
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.blog-list__title {
	margin: 0;
	background-color: #fff;
	padding: 31px 36px 15px 20px;
}

.blog-list__footer {
	padding-top: 23px;
	display: flex;
	justify-content: space-between;
}

.blog-list__date {
	font-size: 14px;
	color: rgb(128, 128, 128);
	line-height: 1.714;
  	text-align: right;
}

.blog-list__date span {
	white-space: nowrap;
	display: block;
}

.blog-list__info {
	padding: 0 17px 0 40px;
}

.blog-list__info p {
	color: rgb(115, 115, 115);
	line-height: 1.75;
	text-align: left;
	padding-bottom: 28px;
}


.blog-list__info .button--warning {
	height: 35px;
	font-size: 14px;
	padding: 8px 27px 0;	
}

/* SECTION BLOG ENDS */


/* CLEINTS SECTION */


.clients-wrap h2 {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	line-height: 2;
  	text-align: center;
}

.clients-list {
	margin-top: 57px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.clients-list__item {
	max-width: 258px; max-height: 160px;
}

.clients-list__item a {
	padding: 15px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 257px; height: 162px;
	border: 2px solid rgba(255, 255, 255, 0.25);
}

.clients-list__item a:hover {
	border-color: rgba(255, 255, 255, 0.8);
}

.clients-list__item img {
	display: block;
	max-width: 100%;
}

/* CLIENTS SECTION ENDS */

.contact-wrap {
	display: flex;
	justify-content: space-between;
}

.contact-wrap__left {
	width: 53%;
}

/* FORM STYLES SECTION BEGINS */

.contact-form {
	padding-top: 17px;
}

.contact-form input.button {
	padding-top: 6px !important;
	height: 38px;
	width: 130px;
}

.form-field {
	position: relative;
	margin-bottom: 10px;
}

.form-field__icon {
	position: absolute;
	top: 15px;
	right: 30px;
}

.form-control {
	display: block;
	padding: 0 70px 0 25px;
	width: 100%;
	height: 45px;
	border: 2px solid #d9d9d9;
	background-color: #fff;
	color: #808080;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	transition: all 0.3s;
}

.form-control:focus {
	border-color: #f39c12;
}

.form-control:focus + .form-field__icon svg path {
	fill: rgb(243, 156, 18);
}

textarea.form-control {
	min-height: 125px;
	resize: none;
	padding-top: 10px;
}

/* FORM STYLES SECTION ENDS */



/* CONTACTS SECTION */

.contact-wrap__right {
	width: 47%;
	flex-shrink: 47%;
	padding-left: 62px;
}

.contact-wrap__right h6 {
	margin-bottom: 36px;
}

.contact-wrap__right p {
	margin-bottom: 28px;
}

.contact-list {
	list-style: none;
}

.contact-list__item {
	color: #0d0d0d;
	line-height: 25px;
	letter-spacing: -0.32px;
	margin-bottom: 9px;
	display: flex;
	align-items: center;
}


.contact-list__item a:hover {
	color: #f32c12;
}


.contact-list__icon {
	margin-right: 20px;
	width: 44px; height: 44px;
	border: 2px solid #F39C12;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-list__icon img {
	width: 22px;
	height: 22px;
	display: block;
	max-width: 100%;
}


/* CONTACTS SECTION ENDS */

/* Map */

#map {
	position: relative;
	overflow: hidden;
}


#map:before {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	width: 0; height: 0;
	border-top: 100px solid #fff;
	border-right: 100vw solid transparent;
}

#map:after  {
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	display: block;
	width: 0; height: 0;
	border-bottom: 100px solid #fff;
	border-left: 100vw solid transparent;
}

/* FOOTER */


.footer-flex {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 43px 40px 42px 40px;
}

.footer-flex p {
	font-size: 14px;
	color: rgb(13, 13, 13);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
	font-weight: 600;

}

.footer-flex .social {
	margin: 0 0 0 auto;
}

.footer-flex .social .fa {
	color: #0D0D0D;
}
.footer-flex .social .fa:hover {
	color: #F29E17;
}

/**/ 

