/* test */

/*.main-menu {
	display: none;
}

.menu-toggle {
	display: inline-block;
	width: 50px;
	border: none;
	background-color: transparent;
	transition: 0.5s;
}

.menu-toggle span {
	display: block;
	height: 3px;
	width: 100%;
	background-color: #fff;
}

.menu-toggle span:nth-child(2) {
	margin: 5px 0;
}*/

/* test */

@media (max-width: 1208px) {
	.banner:after {
		content: none;
	}
	.section {
		padding: 25px 0 10px;
	}
	.heading {
		margin-bottom: 110px;
	}
	.heading h2 {
		width: auto;
	}

	.heading p {
		font-size: 14px;
		line-height: 18px;
	}

	.about-wrap-img {
		max-width: 40%;
		margin-left: 40px;
	}

	/**/

	.box-pricing {
		flex-wrap: wrap;
		justify-content: center;
	}

	.box-pricing .service-list__item {
		width: 100%;
		margin-bottom: 20px;
		padding: 0;
		text-align: center;
	}

	.box-pricing .service-list__icon {
		margin: 0 auto 10px;
	}

	.box-pricing .pricing {
		margin: 0;
	}

	/**/

	.blog-list {
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
}

@media (max-width: 1160px) {
	.hr {
		margin: 50px 0;
	}
	.about-wrap-content {
		display: flex;
		flex-direction: column;
	}

	.about-wrap-content-icon {
		margin-bottom: 20px;
		margin-right: 0;
	}

	/**/

	.team-list__item {
		width: 50%;
	}

	/**/

	.service .heading {
		margin-bottom: 50px;
	}

	.service-list__icon {
		margin-bottom: 10px;
	}

	.service-list__item h6 {
		margin-bottom: 10px;
	}

	.service-list__item p {
		line-height: 1.5;
	}
}

@media (max-width: 880px) {

	.box-skills {
		display: block;
	}

	.box-skills-left {
		padding-right: 0;
		text-align: center;
		margin-bottom: 20px;
	}

	.box-skills-right {
		padding: 0;
	}

	.box-skills-item .about-wrap-content {
		-ms-align-items: center;
		align-items: center;
		text-align: center;
	}

	/**/

	.nav-tab-list__item:before {
		/*content: none;*/
		margin: 0 10px 0 10px;

	}
}

@media (max-width: 800px) {
	
	.heading {
		display: block;
		text-align: center;
		margin-bottom: 50px;
	}

	.heading h2 {
		margin: 0;
		text-align: center;
	}

	.heading h2:after {
		margin: 10px 0 10px;
		position: static;
		width: 100%; height: 4px;
	}

	.about-wrap {
		display: block;
		text-align: center;
	}

	.about-wrap-content {
		align-items: center;
		margin-bottom: 20px;
	}

	.about-wrap-img {
		margin: 0 auto;
		max-width: 100%;
	}

	/**/

	.quote-text {
		font-size: 34px;
		line-height: 46px;
	}

	.quote-text:before {
		font-size: 80px;
	}

	.quote-text:after {
		font-size: 80px;
	}

	/**/

	.facts-list__item {
		width: 50%;
		margin-bottom: 10px;
	}

	.facts-list__icon {
		margin: 0 auto;
	}

	.facts-list__item h5 {
		margin-top: 10px;
	}

	/**/

	.pricing {
		display: block;
		width: 100%;
	}

	.pricing-item {
		width: 100%;
	}

	/**/

	.nav-tab-list__item:before {
		content: none;
	}

	.nav-tab-list .nav-tab-list__link {
		display: inline-block;
		width: 200px;
		padding: 10px;
		border: 2px rgb(255, 157, 0) solid;
		border-radius: 5px;

	}
}

@media (max-width: 768px) {
	
	.service-list {
		flex-wrap: wrap;
	}

	.service-list__item {
		min-width: 100%;
		margin-bottom: 20px;
	}
}

@media (max-width: 620px) {

	.team-list {
		display: block;
	}
	.team-list__item {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.wrapper {
		padding: 0 5px;
	}

	.hr {
		margin: 20px 0;
	}

	.about-wrap-content-text .heading-text {
		text-align: center;
	}

	/**/

	.section-bg {
		background-image: none;
		background-color: #423030;
		height: auto;
		padding: 20px 0;
	}

	.quote-text {
		font-size: 32px;
		line-height: 35px;
	}

	/**/

	.facts-list {
		padding: 20px 0;
	}
}

@media (max-width: 380px) {
	.facts-list {
		display: block;
	}
	.facts-list__item {
		width: 100%;
	}
}