body {
	user-select: none;
}
.wrapper {
	display: flex;
	justify-content: center;
}

#physBox {
	margin-top: 100px;
	width: 1000px;
	height: 800px;
	border: 2px blue dashed;
	position: relative;
}

.centering {
	position: absolute;
	left: 50%;
}

.hinge {
	width: 20px; height: 20px;
	background-color: red;
	opacity: 50%;
	border-radius: 50%;
	transform: translate(-10px, -10px);
	z-index: 99;
	border: yellow 1px dashed;
}

.chain {
	width: 100px; height: 6px;
	background-color: #03bfa6;
	border-radius: 3px;
	transform-origin: 0 50%;
	transform: rotate(90deg);
}

#hinge1 {
	top: 10px;
}

#chain1 {
	
	top: 8px;
}

#hinge2 {
	top: 110px;
}

#chain2 {
	top: 108px;
}

#hinge3 {
	top: 210px;
}

#chain3 {
	top: 208px;
}

#hinge4 {
	top: 310px;
}

#chain4 {
	top: 308px;
}

#hinge5 {
	top: 410px;
}