.wrapper {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.game {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

table {
	background-color: yellow;
	border-spacing: 0;
	border: 4px #b4e600 solid;
}

td {
	margin: 1px; padding: 1px;
	width: 10px; height: 10px;
	background-color: #eeffb3;
	border: 1px #b4e600 solid;
}

#message {
	visibility: hidden;
	position: absolute;
	z-index: 99;
	width: 500px; height: 100px;
	top: 50%; bottom: 50%; left: 50%; right: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	font-size: 20px;
	font-weight: bold;
	user-select: none;
}

.screen {
	margin-left: 50px;
	width: 200px;
}

button {
	box-shadow: rgb(138, 42, 33) 3px 4px 0px 0px;
	background: linear-gradient(rgb(198, 45, 31) 5%, rgb(242, 68, 55) 100%) rgb(198, 45, 31);
	border-radius: 18px;
	border: 1px solid rgb(208, 39, 24);
	display: inline-block;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-family: Arial;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: rgb(129, 14, 5) 0px 1px 0px;
	outline: none;
	user-select: none;
}


